@import "settings/_fonts";
@import "settings/_colors";

body {
  font-family: $font-base;
  width: 1900px;
 }
.homeHeaderContainer {
  display: flex;
}
.logoHeader {
  width: 885px;
  height: 776px;
}
.navigationContainer {
  width: 873px;
  position: relative;
}
.logInPanel {
  display: flex;
  justify-content: flex-end;
  color: $colorGrey;
  font-size: 13px;
}
a {
  text-decoration: none;
}
.registerBtn {
  padding: 9px 10px 9px 10px;
  border: 0.75px solid $colorYellow;
  color: $colorDarkGrey;
}
.logInBtn {
  padding: 9px 20px 8px 0;
  color: $colorDarkGrey;
}
.registerBtn:hover,
.logInBtn:hover {
  color: $colorYellow;
}
.menuList {
  list-style-type: none;
  display: flex;
  font-size: 18px;
  color: $colorDarkGrey;
  justify-content: flex-end;
  cursor: pointer;
}
.menuList li {
  padding: 9px 22px 9px 23px;
  border: 0.75px solid rgba(0,0,0,0);
}
.menuList li:hover{
  border: 0.75px solid $colorDarkGrey;
}
.menuList li:first-of-type {
  padding: 9px 20px 9px 20px;
}
.menuList li:nth-of-type(2) {
  padding: 9px 23px 9px 35px;
}
.titleContainer {
  top: 210px;
  left: 67px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
}
.titleContainer p {
  text-align: center;
  font-size: 38px;
  color: $colorDarkGrey;
}
.actionsContainer {
  display: flex;
  justify-content: center;
}
.returnAction,
.collectAction {
  text-transform: uppercase;
  color: $colorDarkGrey;
  font-size: 36px;
  border: 0.75px solid $colorDarkGrey;
  text-align: center;
  margin-top: 65px;
}
.returnAction:hover,
.collectAction:hover {
  color: $colorYellow;
}
.returnAction {
  padding: 13px 93px 13px 93px;
  margin-right: 30px;
}
.collectAction {
  padding: 13px 51px 13px 51px;
  margin-left: 30px;
}
.homeMainContainer {
  width: 1900px;
}
.columnsContainer {
  display: flex;
  justify-content: space-around;
  background: $colorYellow;
  color: $colorDarkGrey;
}
.column {
  width: 334px;
  text-align: center;
  margin: 0 auto;
  color: $colorBrown;
}
.columnNumber {
  margin:46px 0 10px 0;
  font-size: 90px;
}
.columnTitle {
  margin-bottom: 28px;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: -0.36px;
}
.columnText {
  font-family: $font-alt;
  letter-spacing: -0.32px;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 86px;
}
.mainContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: $colorDarkGrey;
}
.mainReturnAction {
  text-transform: uppercase;
  color: $colorDarkGrey;
  font-size: 36px;
  border: 0.75px solid $colorDarkGrey;
  text-align: center;
  padding: 13px 93px 13px 93px;
}
.mainReturnAction:hover {
  color: $colorYellow;
}
.mainTitle {
  text-align: center;
  font-size: 38px;
  letter-spacing: -0.76px;
  margin: 55px 0 39px 0;
}
.mainColumnsContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 44px 0 35px 0;
  background: $colorWhite;
}
.mainColumnTitle:after {
  content: "";
  display: block;
  width: 70px;
  margin: 10px auto 0;
  border-top: 0.75px solid $colorDarkGrey;
}
.mainActionsContainer {
  width: 310px;
  height: 120px;
  margin: 35px 795px 80px 795px;
}
.mainColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mainIcon {
  padding: 73px 0 8px 0;
}
.mainColumnTitle {
  text-align: center;
  font-size: 18px;
}
.mainColumnText {
  text-align: center;
  margin-bottom: 62px;
  font-size: 16px;
}
.aboutContainer {
  display: flex;
  margin-top: 80px;
  background: $colorWhite;
}
.aboutColumn {
  width: 958px;
  display: flex;
  flex-direction: column;
}
.aboutPeople {
  max-width: 942px;
  height: auto;
  object-fit: cover;
}
.aboutTitle {
  text-align: center;
  color: $colorDarkGrey;
  font-size: 38px;
  letter-spacing: -0.76px;
  margin: 186px 0 40px 0;
}
.aboutDecoration {
  margin-bottom: 55px;
}
.aboutText {
  font-size: 30px;
  letter-spacing: -0.6px;
  text-align: center;
  margin: 0 152px 51px 149px;
  line-height: 54px;
}
.signatureContainer {
  display: flex;
  justify-content: flex-end;
}
.aboutSignature {
  margin: 0 152px 185px 0;
}
.footerContainer {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.footerBackground {
  position: absolute;
  opacity: 0.5;
}
.formColumnContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  left: 1230px
}
.formTitle {;
  text-align: center;
  color: $colorDarkGrey;
  letter-spacing: -0.76px;
  font-size: 38px;
  margin: 200px 100px 25px 0;
}
.contactForm {
  display: flex;
  flex-wrap: wrap;
  color: $colorDarkGrey;
  font-size: 16px;
  font-weight: bolder;
}
.contactForm label {
  padding-top: 40px;
}
.contactForm input,
.contactForm textarea {
  font-size: 18px;
  border: none;
  background-color:transparent;
  padding-bottom: 4px;
  border-bottom: 1px solid $colorGrey;
  font-family: $font-base;
}
.footerDecoration {
  margin:0 100px 40px 0;
}
.contactForm input {
  margin: 12px 16px 12px 0;
}
.contactForm textarea {
  margin: 12px 0 12px 0;
}
.submitContainer {
  display: flex;
  justify-content: flex-end;
  width: 528px;
}
.submitBtn {
  height: 50px;
  width: 150px;
  border: 0.75px solid $colorDarkGrey;
  font-size: 18px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}
.submitBtn:hover {
  color: $colorYellow;
  cursor: pointer;
}
.footerBar {
  display: flex;
  justify-content: space-between;
  width: 1014px;
  position: absolute;
  left: 886px;
  bottom: -1095px;
}
.copyright {
  font-size: 18px;
  color: $colorDarkGrey;
}
.mediaContainer {
  margin-right: 142px;
}
.mediaContainer img {
  margin-left: 20px;
}
.helpTitleContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.helpTitle {
  text-align: center;
  letter-spacing: -0.76px;
  color: $colorDarkGrey;
  font-size: 38px;
  margin: 70px 0 31px 0;
}
.helpInstitutionsContainer {
  display: flex;
  justify-content: center;
}
.helpInstitutionsContainer div {
  padding: 23px 42px 23px 42px;
  margin: 50px 32px 0 33px;
  font-size: 24px;
  color: $colorDarkGrey;
  display: flex;align-items: center;
  border: 0.75px solid transparent;
  cursor: pointer;
}
.helpInstitutionsContainer div:hover {
  border: 0.75px solid $colorDarkGrey;
}
.helpInstitutionsContainer div.helpInstitutionsActive {
  border: 0.75px solid $colorDarkGrey;
}
.institutionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.institutionsDesc {
  width: 640px;
  margin: 70px 630px 32px 630px;
  text-align: center;
  color: $colorDarkGrey;
  font-size: 22px;
}
.institutionsList {
  margin: 0 278px 63px 278px;
  display: flex;
  flex-direction: column;
}
.nameContainer {
  display: flex;
  flex-direction: column;
}
.listContainer {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $colorGrey;
}
.listContainer:last-of-type {
  border: none;
}
.institutionName {
  font-family: $font-alt;
  font-size: 26px;
  color: $colorDarkGrey;
  margin: 34px 0 6px 0;
}
.institutionMission,
.institutionItems {
  font-family: $font-alt;
  font-size: 18px;
  color: $colorDarkGrey;
}
.institutionMission {
  font-style: italic;
  margin-bottom: 31px;
}
.institutionItems {
  margin: 50px 22px 48px 0;
}
.listPagination {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 18px;
  font-family: $font-base;
  color: $colorDarkGrey;
}
.listPagination > li {
  padding: 13px 15px 13px 15px;
  margin: 0 11.07px 0 11.07px;
  border: 1px solid transparent;
  cursor: pointer;
}
.listPagination > li:active {
  border: 1px solid $colorGrey;
}
.listPagination .listPaginationActive {
  border: 1px solid $colorGrey;
}
.errorInfo {
  color: red;
}
.messageSend {
  color: green;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  width: 570px;
}